<mat-toolbar color="primary" class="header-menu">
  <div class="logo">
    <a class="home-link"><img src="./assets/images/aedi-logo.png" routerLink="/home"></a>
  </div>

  <div  class="nav-links">
    <ul>
      <li routerLinkActive="accent"><a routerLink="/projects">Sample Works</a></li>
      <li routerLinkActive="accent"><a routerLink="/contacts">Contact Us</a></li>
      <li routerLinkActive="accent"><a routerLink="/admin">Admin</a></li>
    </ul>
  </div>

  <div class="social">
    <a href="https://www.facebook.com" target="_blank">
      <img src="./assets/images/facebook.png">
    </a>
    <a href="https://www.twitter.com" target="_blank">
      <img src="./assets/images/twitter.png">
    </a>
    <a href="https://www.youtube.com" target="_blank">
      <img src="./assets/images/youtube.png">
    </a>
  </div>
</mat-toolbar>
