@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Raleway:wght@300&display=swap');

h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 4rem;
  text-align: center;
  padding-top: 5rem;
}
